.App {
  text-align: center;
  background-color: #282c34;
  background-image: 
    linear-gradient(rgba(0, 0, 0.1, 0.7), rgba(0, 0, 0.1, 0.7)),
    url('\images/wikiracebg.webp');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100vh; 
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Georgia', 'Times New Roman', serif; /* Use built-in serif fonts */
  font-size: 4rem;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  top: 10px; 
  position: fixed;
  width: 100%; 
  text-align: center; 
  z-index: 1000;  
  margin: 0;
  /* background-color: rgba(219, 207, 207, 0.7); Optional: Make the background for the header semi-transparent */
}

p {
  font-family: 'Lucida Console', 'Monaco', monospace;
  /* margin-top: 120px; 
  top: 10;  */
}

label {
  font-family: 'Lucida Console', 'Monaco', monospace;
}

a {
  font-family: 'Lucida Console', 'Monaco', monospace;
  color: white;
  padding: 12px 30px;
}

h2 {
  font-family: 'Lucida Console', 'Monaco', monospace; /* Use built-in serif fonts */
  font-size: 1.5rem;
  margin: 0;
  padding: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); 
  position: fixed;
  width: 50%; 
  text-align: center;
  top: 80px; 
  z-index: 999;
  /* background-color: rgba(232, 219, 219, 0.7); Optional: Make h2 background semi-transparent */
}

.graph-container {
  margin-top: 20px; /* Space between graph and fixed headers */
  padding: 10px;
  width: 100%;
  height: 250px; /* Adjust the height as needed */
  justify-content: center;
  align-items: center;
}

.menubar {
  margin-top: 80px;
  padding: 5px;
  margin-bottom: 30px;
  width: 100%;
  height: 80px;
  background-color: azure;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  background-color: grey ;
  transition: background-color 0.3s ease;
  color: black;
  padding: 12px 30px;
  font-size: 18px;
  font-family: 'Lucida Console', 'Monaco', monospace;
  border: #282c34;
  border-radius: 5px;
  cursor: pointer;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}


li:hover{
  background-color: darkslateblue;
  box-shadow: #282c34;
}